.register {
  margin: 121px 0;
  display: flex;
  justify-content: center;

  @include onMobile {
    margin: 78px 0;
  }

  &__wrapper {
    position: relative;
    background-image: url(../images/register-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1224px;
    height: max-content;

    object-fit: cover;
    border-radius: 20px;

    &::before {
      content: "";
      position: absolute;
      display: block;
      z-index: 10;
      border-radius: 20px;
      opacity: 0.3;
      background: linear-gradient(0deg, #000 0%, #FFF 100%);
      backdrop-filter: blur(25px);
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    position: relative;
    display: flex;
    gap: 60px;
    align-items: center;
    padding: 71px 57px;
    width: 100%;

    z-index: 11;

    @include onTablet {
      padding: 52px 50px;
    }

    @include onMobile {
      flex-direction: column;
      gap: 20px;
      padding: 36px 20px;
    }
  }

  &__text {
    color: #FFF;
    font-size: 64px;
    font-weight: 700;
    line-height: 100%;
    text-transform: capitalize;

    @include onTablet {
      font-size: 36px;
    }

    @include onMobile {
      font-size: 26px;
      text-align: center;
    }
  }

  &__btn {
    display: flex;
    flex-grow: 1;
    justify-content: center;

    height: max-content;

    & .btn {
      padding: 15px 18px;
    }
  }
}
