.btn {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  width: max-content;
  
  border-radius: 25px;
  background: #fff;
  color: #323232;

  color: #323232;
  font-size: 16px;
  font-weight: 800;
  line-height: 20px;

  transition: all .3s;

  @include onTablet {
    padding: 12px 24px;
    font-size: 14px;
  }

  @include onMobile {
    padding: 8px 16px;
    font-size: 14px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 15px;

    @include onMobile {
      gap: 10px;
    }
  }

  &__title {
    width: max-content;
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.02);
  }
}
