.footer {
  display: flex;
  justify-content: center;
  background: #101012;
  padding: 70px 0;

  @include onMobile {
    padding: 35px 0;
  }

  &__nav {
    display: flex;
    gap: 84px;

    @include onMobile {
      flex-direction: column;
      gap: 28px;
    }
  }

  &__logo {
    @include onMobile {
      display: flex;
      justify-content: center;
    }
  }
}
