.nav-general {
  display: flex;
  flex-wrap: wrap;
  justify-content: baseline;
  align-items: baseline;
  gap: 52px;

  @include onMobile {
    gap: 22px;
  }

  &__item {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 20px;
    width: max-content;

    @include onMobile {
      gap: 16px;
    }
  }

  &__link {
    color: #C2C2C2;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;

    transition: all .3s;

    @include onMobile {
      font-size: 14px;
    }

    &:hover {
      color: #fff;
    }
  }
}
