.user-nav {
  display: flex;
  align-items: center;
  gap: 68px;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .user-nav__item {
    @include onMobile {
      display: none;
    }
  }

  &__icon {
    transition: all 0.3s;

    &:hover {
      transform: scale(1.05);
    }
  }
}
