* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #C2C2C2;
  font-family: "Mulish";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

h1 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}
.icon_search::after {
  display: block;
  content: "";
  background-image: url(../images/icons/search.svg);
  background-size: 18px 18px;
  height: 18px;
  width: 18px;
}
.icon_bell::after {
  display: block;
  content: "";
  background-image: url(../images/icons/bell.svg);
  background-size: 22px 24px;
  height: 24px;
  width: 22px;
}
.icon_account::after {
  display: block;
  content: "";
  background-image: url(../images/icons/account.svg);
  background-size: 18px 19px;
  height: 19px;
  width: 18px;
}
.icon_star::after {
  display: block;
  content: "";
  background-image: url(../images/icons/star.svg);
  background-size: 16px 16px;
  height: 16px;
  width: 16px;
}
.icon_play::after {
  display: block;
  content: "";
  background-image: url(../images/icons/play.svg);
  background-size: 16px 16px;
  height: 16px;
  width: 16px;
}
.icon_bracket::after {
  display: block;
  content: "";
  background-image: url(../images/icons/angle-bracket.svg);
  background-size: 32px 32px;
  height: 32px;
  width: 32px;
}
@media screen and (max-width: 767px) {
  .icon_bracket::after {
    background-size: 28px 28px;
    height: 28px;
    width: 28px;
  }
}
.icon_castle::before {
  display: block;
  content: "";
  background-image: url(../images/genres/castle.svg);
  background-size: 80px 80px;
  height: 80px;
  width: 80px;
}
@media screen and (max-width: 767px) {
  .icon_castle::before {
    background-size: 60px 60px;
    height: 60px;
    width: 60px;
  }
}
.icon_cinema::before {
  display: block;
  content: "";
  background-image: url(../images/genres/cinema.svg);
  background-size: 80px 80px;
  height: 80px;
  width: 80px;
}
@media screen and (max-width: 767px) {
  .icon_cinema::before {
    background-size: 60px 60px;
    height: 60px;
    width: 60px;
  }
}
.icon_documentary::before {
  display: block;
  content: "";
  background-image: url(../images/genres/documentary.svg);
  background-size: 80px 80px;
  height: 80px;
  width: 80px;
}
@media screen and (max-width: 767px) {
  .icon_documentary::before {
    background-size: 60px 60px;
    height: 60px;
    width: 60px;
  }
}
.icon_ghost::before {
  display: block;
  content: "";
  background-image: url(../images/genres/ghost.svg);
  background-size: 80px 80px;
  height: 80px;
  width: 80px;
}
@media screen and (max-width: 767px) {
  .icon_ghost::before {
    background-size: 60px 60px;
    height: 60px;
    width: 60px;
  }
}
.icon_hearts::before {
  display: block;
  content: "";
  background-image: url(../images/genres/hearts.svg);
  background-size: 80px 80px;
  height: 80px;
  width: 80px;
}
@media screen and (max-width: 767px) {
  .icon_hearts::before {
    background-size: 60px 60px;
    height: 60px;
    width: 60px;
  }
}
.icon_killer::before {
  display: block;
  content: "";
  background-image: url(../images/genres/killer.svg);
  background-size: 80px 80px;
  height: 80px;
  width: 80px;
}
@media screen and (max-width: 767px) {
  .icon_killer::before {
    background-size: 60px 60px;
    height: 60px;
    width: 60px;
  }
}
.icon_rocket::before {
  display: block;
  content: "";
  background-image: url(../images/genres/rocket.svg);
  transform: scale(1.5);
  background-size: 80px 80px;
  height: 80px;
  width: 80px;
}
@media screen and (max-width: 767px) {
  .icon_rocket::before {
    background-size: 60px 60px;
    height: 60px;
    width: 60px;
  }
}
.icon_smile::before {
  display: block;
  content: "";
  background-image: url(../images/genres/smile.svg);
  background-size: 80px 80px;
  height: 80px;
  width: 80px;
}
@media screen and (max-width: 767px) {
  .icon_smile::before {
    background-size: 60px 60px;
    height: 60px;
    width: 60px;
  }
}

.btn {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  width: -moz-max-content;
  width: max-content;
  border-radius: 25px;
  background: #fff;
  color: #323232;
  color: #323232;
  font-size: 16px;
  font-weight: 800;
  line-height: 20px;
  transition: all 0.3s;
}
@media screen and (max-width: 1139px) {
  .btn {
    padding: 12px 24px;
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .btn {
    padding: 8px 16px;
    font-size: 14px;
  }
}
.btn__wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}
@media screen and (max-width: 767px) {
  .btn__wrapper {
    gap: 10px;
  }
}
.btn__title {
  width: -moz-max-content;
  width: max-content;
}
.btn:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.gr_color_blue {
  background: linear-gradient(352deg, #26FFF2 0%, #326CFF 100%);
  color: #fff;
}
.gr_color_green {
  background: linear-gradient(143deg, #0FFFDA 0%, #3CDB77 100%);
  color: #fff;
}
.gr_color_purple {
  background: linear-gradient(136deg, #B936FF 0%, #57DEDA 100%);
  color: #fff;
}
.gr_color_orange {
  background: linear-gradient(136deg, #FD093F 0%, #FB1378 0.01%, #FCCB1A 100%);
  color: #fff;
}
.gr_color_sunset {
  background: linear-gradient(136deg, #FF6472 0%, #FDA75D 100%);
  color: #fff;
}
.gr_color_light-ocean {
  background: linear-gradient(137deg, #13547A 0%, #80D0C7 100%);
  color: #fff;
}
.gr_color_yellow {
  background: linear-gradient(137deg, #FFF77B 0%, #FFBF42 100%);
  color: #fff;
}
.gr_color_dark-ocean {
  background: linear-gradient(136deg, #1FA2FF 0%, #1FA2FF 0.01%, #1F535C 97.4%);
  color: #fff;
}
.gr_color_pink {
  background: linear-gradient(136deg, #FD093F 0%, #F383F1 100%);
  color: #fff;
}

.swiper {
  padding: 30px 0;
  margin-bottom: 30px;
}
.swiper__img {
  height: 309px;
  width: 205px;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s;
}
@media screen and (max-width: 767px) {
  .swiper__img {
    height: 220px;
    width: 146px;
  }
}
.swiper__img:hover {
  box-shadow: 0px 4px 50px -25px #26FFF2;
}
.swiper-slide {
  height: 100%;
  width: 205px;
}
@media screen and (max-width: 767px) {
  .swiper-slide {
    width: 164px;
  }
}
.swiper-pagination-bullet {
  border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
  background: var(--swiper-pagination-bullet-inactive-color, #fff);
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.4);
}

.header {
  position: relative;
  padding: 15px 0;
}
.header__nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header__container {
  display: none;
  background: rgba(0, 0, 0, 0.8);
}
.header__container.active {
  transform: translate(0%);
}
@media screen and (max-width: 1139px) {
  .header__container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    width: 100%;
    height: 100vh;
    transform: translateY(-100%);
    transition: all 0.3s;
  }
}
@media screen and (max-width: 767px) {
  .header__container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    transform: translateY(-100%);
    transition: all 0.3s;
  }
}
.header__page-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 48px;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  background: #000;
  padding: 31px 50px;
}
@media screen and (max-width: 767px) {
  .header__page-nav {
    padding: 30px 50px 16px;
  }
}
.header__user-nav {
  display: none;
}
@media screen and (max-width: 767px) {
  .header__user-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 56px;
    height: 70px;
    width: 100%;
    background: #000;
  }
}

.wrapper {
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 85px;
}
@media screen and (max-width: 1139px) {
  .wrapper {
    padding: 0 50px;
  }
}
@media screen and (max-width: 767px) {
  .wrapper {
    padding: 0 20px;
  }
}

.logo {
  display: flex;
  gap: 14px;
  align-items: center;
}
.logo__logotype {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 14px;
}
@media screen and (max-width: 1139px) {
  .logo__logotype {
    width: 52px;
    height: 52px;
  }
}
.logo__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 62px;
  background: black;
  border-radius: 12px;
  color: #FFF;
  text-align: center;
  font-family: "Lemon";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
@media screen and (max-width: 1139px) {
  .logo__wrapper {
    font-size: 34px;
    width: 46px;
    height: 46px;
    border-radius: 12px;
  }
}
.logo__text {
  color: #FFF;
  text-align: center;
  font-family: "Poppins";
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
}
@media screen and (max-width: 1139px) {
  .logo__text {
    font-size: 34px;
  }
}

.page-nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 54px;
}
.page-nav__text {
  color: #7f7f7f;
  font-weight: 700;
  transition: all 0.3s;
}
.page-nav__line {
  height: 2px;
  width: 100%;
  background: #000;
  border-radius: 1px;
}
.page-nav__item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.page-nav__item_active .page-nav__text {
  color: #fff;
}
.page-nav__item_active .page-nav__line {
  background: linear-gradient(352deg, #26FFF2 0%, #326CFF 100%);
}
.page-nav__item:hover .page-nav__text {
  color: #fff;
}
@media screen and (max-width: 1139px) {
  .page-nav {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .page-nav {
    display: none;
  }
}

.user-nav {
  display: flex;
  align-items: center;
  gap: 68px;
}
.user-nav__item {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .user-nav .user-nav__item {
    display: none;
  }
}
.user-nav__icon {
  transition: all 0.3s;
}
.user-nav__icon:hover {
  transform: scale(1.05);
}

.burger {
  display: none;
}
@media screen and (max-width: 1139px) {
  .burger {
    position: relative;
    z-index: 101;
    display: flex;
    flex-direction: column;
    gap: 6px;
    height: 14px;
    width: 20px;
    cursor: pointer;
  }
  .burger span {
    position: relative;
    display: block;
    width: 100%;
    height: 1.6px;
    border-radius: 0.8px;
    background-color: #fff;
    transition: all 0.3s;
  }
  .burger.active span:nth-child(2) {
    opacity: 0;
  }
  .burger.active span:first-child {
    transform: rotate(45deg);
    transition: all 0.3s;
    top: 6.6px;
  }
  .burger.active span:last-child {
    transform: rotate(-45deg);
    transition: all 0.3s;
    top: -6.6px;
  }
}
@media screen and (max-width: 767px) {
  .burger {
    position: relative;
    z-index: 101;
    display: flex;
    flex-direction: column;
    gap: 6px;
    height: 14px;
    width: 20px;
    cursor: pointer;
  }
  .burger span {
    position: relative;
    display: block;
    width: 100%;
    height: 1.6px;
    border-radius: 0.8px;
    background-color: #fff;
    transition: all 0.3s;
  }
  .burger.active span:nth-child(2) {
    opacity: 0;
  }
  .burger.active span:first-child {
    transform: rotate(45deg);
    transition: all 0.3s;
    top: 6.6px;
  }
  .burger.active span:last-child {
    transform: rotate(-45deg);
    transition: all 0.3s;
    top: -6.6px;
  }
}

body.lock {
  overflow: hidden;
  height: 100vh;
}

.hero {
  display: flex;
  height: 766px;
  padding-left: 85px;
}
@media screen and (max-width: 1139px) {
  .hero {
    padding-left: 50px;
  }
}
@media screen and (max-width: 767px) {
  .hero {
    flex-direction: column-reverse;
    height: -moz-max-content;
    height: max-content;
    padding: 0;
  }
}
.hero__wrapper {
  padding-right: 20px;
  margin: 0 0 0 auto;
}
@media screen and (max-width: 767px) {
  .hero__wrapper {
    margin: 0;
    padding: 0;
  }
}
.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 562px;
  height: 100%;
}
@media screen and (max-width: 1139px) {
  .hero__content {
    max-width: 360px;
  }
}
@media screen and (max-width: 767px) {
  .hero__content {
    width: 100%;
    padding: 0 20px;
    max-width: none;
  }
}
.hero__title {
  color: #FFF;
  font-family: "Marcellus";
  font-size: 80px;
  font-weight: 400;
  line-height: 70px;
  margin-bottom: 48px;
}
@media screen and (max-width: 1139px) {
  .hero__title {
    font-size: 48px;
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 767px) {
  .hero__title {
    text-align: center;
    font-size: 42px;
    line-height: 64px;
    margin-bottom: 24px;
  }
}
.hero__info {
  margin-bottom: 25px;
}
.hero__subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 35px;
}
@media screen and (max-width: 1139px) {
  .hero__subtitle {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .hero__subtitle {
    line-height: 24px;
    margin-bottom: 28px;
  }
}
.hero__btns {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .hero__btns {
    gap: none;
    justify-content: space-around;
  }
}
.hero__img-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.hero__img-container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  background: linear-gradient(to right, rgb(0, 0, 0), transparent);
  z-index: 2;
}
@media screen and (max-width: 767px) {
  .hero__img-container {
    height: 352px;
    margin-bottom: 10px;
  }
  .hero__img-container:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    background: linear-gradient(to left, rgb(0, 0, 0), transparent);
    z-index: 2;
  }
}
.hero__img {
  box-shadow: -10px 0px 10px #000;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  width: 100%;
  height: 100%;
}

.movie-info {
  display: flex;
  gap: 18px;
  align-items: center;
  color: #FFF;
  font-family: "Mulish";
  font-size: 16px;
  font-weight: 800;
  line-height: 10px;
}
@media screen and (max-width: 1139px) {
  .movie-info {
    font-size: 14px;
  }
}
.movie-info__outer-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  height: 24px;
  width: 60px;
}
.movie-info__inner-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  border-radius: 21px;
  height: 20px;
  width: 56px;
}
.movie-info__rating {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 38px;
}

.reference {
  height: 35px;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 10px;
}
.reference__link {
  display: flex;
  gap: 11px;
  align-items: center;
  color: #FFF;
  font-size: 28px;
  font-weight: 700;
  line-height: 20px;
  transition: all 0.3s;
}
@media screen and (max-width: 767px) {
  .reference__link {
    font-size: 18px;
  }
}
.reference__link:hover {
  transform: rotate3d(0, 1, 0, 6deg);
}
.reference__line {
  height: 35px;
  width: 8px;
  border-radius: 4px;
}
@media screen and (max-width: 767px) {
  .reference__line {
    height: 30px;
    width: 6px;
    border-radius: 3px;
  }
}

.trending {
  margin-top: 60px;
  margin-bottom: 100px;
}
@media screen and (max-width: 767px) {
  .trending {
    margin: 60px 0 50px 0;
  }
}
@media screen and (max-width: 767px) {
  .trending__swiper {
    margin: 0;
  }
}

.genres__swiper .swiper-wrapper {
  height: 436px;
}
@media screen and (max-width: 767px) {
  .genres__swiper .swiper-wrapper {
    height: 372px;
  }
}
.genres__slide {
  width: 335px;
  height: calc((100% - 40px) / 2);
}
@media screen and (max-width: 767px) {
  .genres__slide {
    width: 320px;
    height: calc((100% - 30px) / 2);
  }
}
.genres__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  font-size: 28px;
  font-weight: 700;
}

.popular {
  margin-top: 40px;
  margin-bottom: 103px;
}
@media screen and (max-width: 767px) {
  .popular {
    margin-top: 30px;
    margin-bottom: 50px;
  }
}
.popular__slide {
  width: 190px;
}
@media screen and (max-width: 767px) {
  .popular__slide {
    width: 140px;
  }
}
.popular__person {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}
@media screen and (max-width: 767px) {
  .popular__person {
    font-size: 14px;
    line-height: 18px;
  }
}
.popular__img {
  border-radius: 50%;
  height: 190px;
  width: 190px;
}
@media screen and (max-width: 767px) {
  .popular__img {
    height: 140px;
    width: 140px;
  }
}
.popular__slide {
  height: 100%;
}

.soon__wrapper {
  display: flex;
  height: 341px;
  background: linear-gradient(65deg, #0D1A73 29.09%, #000 70.41%);
  border-radius: 20px;
}
@media screen and (max-width: 1139px) {
  .soon__wrapper {
    height: 272px;
  }
}
@media screen and (max-width: 767px) {
  .soon__wrapper {
    flex-direction: column;
    height: 400px;
    background: linear-gradient(135deg, #0D1A73 29.09%, #000 70.41%);
  }
}
.soon__movie {
  background-color: #000;
  width: 50%;
}
@media screen and (max-width: 767px) {
  .soon__movie {
    width: 100%;
    height: 50%;
  }
}
.soon__img {
  width: 100%;
  height: 100%;
  border-radius: 20px 0 0 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 767px) {
  .soon__img {
    border-radius: 20px 20px 0 0;
  }
}
.soon__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 31px;
  width: 50%;
  border-radius: 0 20px 20px 0;
  box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.1);
}
@media screen and (max-width: 767px) {
  .soon__content {
    width: 100%;
    height: 50%;
    gap: 18px;
    border-radius: 0 0 20px 20px;
  }
}
.soon__year {
  width: 294px;
  height: 148px;
}
@media screen and (max-width: 1139px) {
  .soon__year {
    width: 218px;
    height: 110px;
  }
}
@media screen and (max-width: 767px) {
  .soon__year {
    width: 144px;
    height: 72px;
  }
}
.soon__title {
  color: #FFF;
  font-size: 64px;
  font-weight: 700;
  line-height: 20px;
  text-transform: capitalize;
}
@media screen and (max-width: 1139px) {
  .soon__title {
    font-size: 42px;
  }
}
@media screen and (max-width: 767px) {
  .soon__title {
    font-size: 28px;
  }
}

.register {
  margin: 121px 0;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .register {
    margin: 78px 0;
  }
}
.register__wrapper {
  position: relative;
  background-image: url(../images/register-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1224px;
  height: -moz-max-content;
  height: max-content;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
.register__wrapper::before {
  content: "";
  position: absolute;
  display: block;
  z-index: 10;
  border-radius: 20px;
  opacity: 0.3;
  background: linear-gradient(0deg, #000 0%, #FFF 100%);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  width: 100%;
  height: 100%;
}
.register__content {
  position: relative;
  display: flex;
  gap: 60px;
  align-items: center;
  padding: 71px 57px;
  width: 100%;
  z-index: 11;
}
@media screen and (max-width: 1139px) {
  .register__content {
    padding: 52px 50px;
  }
}
@media screen and (max-width: 767px) {
  .register__content {
    flex-direction: column;
    gap: 20px;
    padding: 36px 20px;
  }
}
.register__text {
  color: #FFF;
  font-size: 64px;
  font-weight: 700;
  line-height: 100%;
  text-transform: capitalize;
}
@media screen and (max-width: 1139px) {
  .register__text {
    font-size: 36px;
  }
}
@media screen and (max-width: 767px) {
  .register__text {
    font-size: 26px;
    text-align: center;
  }
}
.register__btn {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  height: -moz-max-content;
  height: max-content;
}
.register__btn .btn {
  padding: 15px 18px;
}

.footer {
  display: flex;
  justify-content: center;
  background: #101012;
  padding: 70px 0;
}
@media screen and (max-width: 767px) {
  .footer {
    padding: 35px 0;
  }
}
.footer__nav {
  display: flex;
  gap: 84px;
}
@media screen and (max-width: 767px) {
  .footer__nav {
    flex-direction: column;
    gap: 28px;
  }
}
@media screen and (max-width: 767px) {
  .footer__logo {
    display: flex;
    justify-content: center;
  }
}

.nav-general {
  display: flex;
  flex-wrap: wrap;
  justify-content: baseline;
  align-items: baseline;
  gap: 52px;
}
@media screen and (max-width: 767px) {
  .nav-general {
    gap: 22px;
  }
}
.nav-general__item {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 20px;
  width: -moz-max-content;
  width: max-content;
}
@media screen and (max-width: 767px) {
  .nav-general__item {
    gap: 16px;
  }
}
.nav-general__link {
  color: #C2C2C2;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  transition: all 0.3s;
}
@media screen and (max-width: 767px) {
  .nav-general__link {
    font-size: 14px;
  }
}
.nav-general__link:hover {
  color: #fff;
}/*# sourceMappingURL=main.css.map */