@mixin onTablet {
  @media screen and (max-width: 1139px) {
    @content;
  }
}

@mixin onMobile {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin genresIcon {
  &::before {
    display: block;
    content: '';
    @content;
    background-size: 80px 80px;
    height: 80px;
    width: 80px;

    @include onMobile {
      background-size: 60px 60px;
      height: 60px;
      width: 60px;
    }
  }
}
