* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;

  color: #C2C2C2;
  font-family: "Mulish";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

h1 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}